main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    padding: 5rem;
}

.divTitle {
    margin-bottom: 3rem;
}

.title {
    font-family: 'Readex Pro', sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 6rem;
    color: white;
}

.text {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 4rem;
    text-align: center;
    color: white;
}

iframe {
    margin: 2.5rem 0;
}

.subTitle {
    font-size: 5rem;
}

#containerBeneficios {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: max-content;
    gap: 2.5rem;
    margin-top: 2rem;
}

.divBeneficios {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

.divBeneficios img {
    width: 2.5rem;
}

.divBeneficios span {
    font-family: 'Inter', sans-serif;
    font-size: 3.5rem;
    color: white;
}